exports.config = {
  nodeName: "node_name",
  logStreams: {
    syslog: [
      "/var/log/syslog"
    ],
    laravel: [
      "/var/log/laravel/laravel.log"
    ]
  },
  server: {
    host: 'server',
    port: 28777
  }
}

